---
import Calendar from "~/components/Calendar.astro";
import ButtonPrimary from "~/components/common/ButtonPrimary.astro";
import ButtonSecondary from "~/components/common/ButtonSecondary.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h2 class="text-2xl font-normal text-zinc-700 mb-4">Calendario</h2>

  <Calendar>
</Layout>
