---
export const prerender = false;
import { getCollection } from 'astro:content';
import Layout from "~/layouts/Layout.astro";

import ButtonPrimary from "~/components/common/ButtonPrimary.astro";


const allBlogPosts = await getCollection('blog');
---

<Layout title="Welcome to Astro.">
  <h2 class="text-2xl font-normal text-zinc-700 mb-4">Inicio</h2>
  {
    allBlogPosts.map((post) => {
      const { title } = post.data

      return <ButtonPrimary href={`/blog/${post.slug}`}>
        {title}
      </ButtonPrimary>
    })
  }
</Layout>
