---
export const prerender = false;
import StrategyCard from "~/components/campaigns/StrategyCard.jsx";
import ButtonPrimary from "~/components/common/ButtonPrimary.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <form id="newBriefForm">
    <h2 class="text-2xl font-normal text-zinc-700">
      1. Select your campaign name
    </h2>
    <input
      required
      type="text"
      id="campaign-name-input"
      name="campaign-name"
      class="mt-6 w-full block text-zinc-700 border rounded-lg border-zinc-300 px-4 py-3 bg-white"
      placeholder="Campaign name"
    />
    <h2 class="text-2xl font-normal text-zinc-700 mt-8">
      2. Select your campaign goal
    </h2>
    <div id="campaign-goals-list" class="flex gap-4 mt-6">
      <ButtonPrimary value="ugc">Multi-Channel UGC</ButtonPrimary>
      <ButtonPrimary value="awareness">Awareness & Reach</ButtonPrimary>
      <ButtonPrimary value="conversion">Conversion & Sales</ButtonPrimary>
    </div>
    <h2 class="text-2xl font-normal text-zinc-700 mt-8">
      3. Select your campaign strategy
    </h2>
    <div class="flex gap-4 mt-6">
      <StrategyCard client:only="react" />
    </div>
  </form>
</Layout>

<script>
  import { campaignStore } from "~/stores/chooseCampaign";
  import { randomUUID } from "crypto";

  document.addEventListener("astro:page-load", () => {
    const btnList = document.querySelectorAll(
      "#campaign-goals-list button"
    ) as NodeListOf<HTMLButtonElement>;
    let prevBtn: HTMLButtonElement | null = null;

    btnList.forEach((btn) => {
      const btnElement = btn as HTMLButtonElement;
      const value = btnElement.getAttribute("value") as string;
      btnElement.addEventListener("click", () => {
        if (prevBtn) {
          prevBtn.classList.remove("buttonSelected");
        }
        prevBtn = btnElement;
        btnElement.classList.toggle("buttonSelected");
        campaignStore.set(value);
      });
    });

    // Handle form submission
   
    const btnStrategyList = document.querySelectorAll(
      ".campaign-strategy"
    ) as NodeListOf<HTMLButtonElement>;
    let goal: string | null = null;

    campaignStore.subscribe((value) => {
      goal = value;
    });

    btnStrategyList.forEach((btn) => {
      const btnElement = btn as HTMLButtonElement;
      btnElement.addEventListener("click", async (e) => {
        e.preventDefault();
        const input = document.getElementById(
          "campaign-name-input"
        ) as HTMLInputElement;
        const inputName = input.value;
        if (goal === null) {
          alert("Please select your campaign goal");
          return;
        }

        const values = {
          id: randomUUID(),
          name: inputName,
          goal: goal,
          strategy: btnElement.value,
        };

        const res = await fetch("/api/test.json", {
          method: "POST",
          body: JSON.stringify(values),
        });
        const data = await res.json();
        console.log(data);

      });
    });
  });
</script>
