---
import type { AsideMenuItem } from "~/navigation";
import Icon from "./Icon.astro";

interface Props {
  item: AsideMenuItem;
}

const { item } = Astro.props;
const { href, icon } = item;

// check if the current page is active
const isActive = href === Astro.url.pathname;
---

<li>
  <a
    href={href}
    class=`flex gap-4 items-center text-md p-2 text-gray-800 transition-colors hover:bg-gray-100
    border border-transparent rounded-lg w-fit ${isActive ? "aside-menu-item-active" : ""}
    `
  >
    <div class="size-7 grid place-items-center">
      <Icon name={icon} />
    </div>
  </a>
</li>
