---
export interface Props {
  class?: string;
  value?: string;
}
const { class: className, value } = Astro.props;
---

<button value={value} class=`block text-zinc-700 border rounded-lg border-zinc-300 px-8 py-3 bg-white  ${className} flex items-center gap-4`>
  <slot />
</button>