---
export interface Props {
  class?: string;
  href: string;
}
const { class: className, href } = Astro.props;
---
<a href={href} class=`block cursor-pointer max-w-fit text-zinc-700 border rounded-lg border-zinc-300 px-8 py-3 bg-white  ${className} flex items-center gap-4`>
  <slot />
</a>
